@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
body::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  font-family: "Montserrat", sans-serif;
  user-select: none;

  background: #000;
}

.loader {
  background-image: url("/images/loading.jpeg");
  background-size: cover;
  background-position: center;
}

.heading {
  background-image: url("/images/loading.jpeg");
  background-size: cover;
  background-position: center;
}

.screen {
  scale: 1;
  height: 1600px;
  width: 2740px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv {
  scale: 1;
  height: 1510px;
  width: 2560px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desk-back {
  background-image: url("/images/desktop.jpeg");
  background-size: cover;
  background-position: end;
}
